$first-color: #1d0027;
$second-color: #ad49d2;
$third-color: #faebff;
$fourth-color: #333333;
$fifth-color: #f2f2f2;
$sixth-color: #000000;
$seventh-color: #ffffff;
$eighth-color: #828282;
$ninth-color: #370863;
