.icon_mess{
    font-size: 2rem;
    margin-left: 15rem;
    color: purple;
}
.icon_text{

    font-size: 1.5rem;
    margin-left: 1rem;
    color: purple;
}
.icon_section{
    margin-bottom: 2rem;
}
 .pend1{
    margin-right: 22rem;
    font-size: 1rem;
    margin-left: 9rem;

  }