.edit-box{

    margin-top: 2rem;
    margin-left: 25rem;
    padding: 2rem;
}
.edit-bold{
    font-size: 1.5rem;
}
.dropdown1 {
    width:290px;
    overflow:scroll;
    height: 20px;
    }

    .css-1aya2g8{
        font-size: 1.5rem !important;
    }